In [2]:
import pandas as pd
import mysql.connector
from getpass import getpass
from sqlalchemy import create_engine
import pymysql

In [25]:
comments = pd.read_csv("comments.csv")
campuses = pd.read_csv("campuses.csv")
badges = pd.read_csv("badges.csv")
courses = pd.read_csv("courses.csv")

### Final Cleaning of comments

In [26]:
comments.head(2)

,comment_id,anonymous,graduating_year,job_title,program,overall_score,job_support,school
0,306068,True,2023,Full stack development,NaN,5.0,5.0,ironhack
1,305297,False,2023,Full Stack Web Developer,Web Development Bootcamp,4.0,4.0,ironhack

In [18]:
comments.drop("Unnamed: 0", axis=1, inplace=True)
comments = comments.reset_index(drop=True)
#removing tagline
comments.drop("tagline", axis=1, inplace=True)
#removing created_at
comments.drop("created_at", axis=1, inplace=True)
#removing overall
comments.drop("overall", axis=1, inplace=True)
#removing curricullum
comments.drop("curriculum", axis=1, inplace=True)

KeyError: "['tagline'] not found in axis"

In [ ]:
comments.head(2)

### Final clean of campuses

In [7]:
campuses.head(2)

,Unnamed: 0,campus_id,country_id,country_name,country_abbrev,city_id,city_name,school,school_id
0,0,15901,57.0,Germany,DE,31156.0,Berlin,ironhack,10828
1,1,16022,29.0,Mexico,MX,31175.0,Mexico City,ironhack,10828

In [19]:
#removing country_abbrev
campuses.drop("country_abbrev", axis=1, inplace=True)
campuses.drop("Unnamed: 0", axis=1, inplace=True)

In [20]:
campuses.head(2)

,campus_id,country_id,country_name,city_id,city_name,school,school_id
0,15901,57.0,Germany,31156.0,Berlin,ironhack,10828
1,16022,29.0,Mexico,31175.0,Mexico City,ironhack,10828

### Final clean of courses

In [21]:
courses.drop("Unnamed: 0", axis=1, inplace=True)

In [22]:
courses.head(2)

                   courses    school  school_id
0  Cyber Security Bootcamp  ironhack      10828
1  Cybersecurity Part-Time  ironhack      10828

### Final clean of badges

In [23]:
badges.drop("Unnamed: 0", axis=1, inplace=True)

# SQL Connection

In [12]:
password = getpass()

#cnx = variable
cnx = mysql.connector.connect(user = "root",
                             password = password,
                             host = "localhost",
                             database = "sakila")

cnx.is_connected()

········

True

In [13]:
#cursor = cnx.cursor()
#query = ("""CREATE DATABASE schools""") #name of the database

#cursor.execute(query)

In [23]:
password = getpass()

engine = create_engine(f'mysql+pymysql://root:{password}@127.0.0.1/schools')
def save_to_mysql(df, table_name):
    df.to_sql(table_name, engine, index=False, if_exists='replace')
# Save each DataFrame to MySQL
save_to_mysql(comments, 'comments')
save_to_mysql(campuses, 'campuses')
save_to_mysql(courses, 'courses')
save_to_mysql(badges, 'badges')

KeyboardInterrupt: Interrupted by user

In [14]:
courses.head(3)

                   courses    school  school_id
0  Cyber Security Bootcamp  ironhack      10828
1  Cybersecurity Part-Time  ironhack      10828
2  Data Analytics Bootcamp  ironhack      10828

In [24]:
comments_cleaned = comments.copy()
campuses_cleaned = campuses.copy()
badges_cleaned = badges.copy()
courses_cleaned = courses.copy()

comments_cleaned.to_csv('comments.csv', index = False)
campuses_cleaned.to_csv('campuses.csv', index = False)
badges_cleaned.to_csv('badges.csv', index = False)
courses_cleaned.to_csv('courses.csv', index = False)